body {
    background: coral;
}

/* NAV
************************************ */
.nav-list{
    display: flex;
    /* display:flex puts everything in one row */
    flex-direction: row;
    justify-content: center;
    list-style: none;
    /* gets rid of bullet points in li */

}

.nav-item{
    font-size: 1.4em;
    padding: 20px;
    color: white;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
    padding-bottom: 10px;
    border-bottom: 4px solid white;
}