<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script defer src="./js/app.js"></script>
    <title>Document</title>
</head>
<header>
    <div class="navbar">
        <div class="nav-container">
            <!-- LOGO -->
            <img src="https://miro.medium.com/fit/c/336/336/1*ty4NvNrGg4ReETxqU2N3Og.png" alt="logo">
            
            <!-- LINKS -->
            <ul class="nav-group">
                <li class="nav-item">link</li>
                <li class="nav-item">linbk</li>
                <li class="nav-item">link</li>
                <li class="nav-item">link</li>
            </ul>
            
            <!-- FORM -->
            <form class="landing-form">
                <input type="text" name ="name" value="" placeholder="name">
                <input type="text" name="email" value="" placeholder="email">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</header>
<body>
    <h1>landing page</h1>

    
</body>
</html>