<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script defer src="./js/app.js"></script>
    <link rel="icon" href="https://fhsknightlife.com/wp-content/uploads/2020/04/uVASXqvMzyUrAPfSn9pMtxOC7s89ulzdDKBdtqCP.png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <title>Netflix Recap</title>
</head>
<header>

    <div class="navbar">

        <!-- Logo and Links -->

        <div>
            <img src="https://pmcvariety.files.wordpress.com/2020/05/netflix-logo.png?w=681&h=383&crop=1" alt="logo">
        </div>


        <a href="#">TV shows</a>

        <a href="#">MOVIES</a>

        <a href="#">LATEST</a>

        <a href="#">MY LIST</a>



        <!-- FORM -->
        <div class="login-container">

            <form class="landing-form">
                <input type="text" name="name" value="" placeholder="name">
                <input type="text" name="email" value="" placeholder="email">
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>
</header>

<body>

    <!-- HERO -->
    <section id="main-movie" class="hero">
        <div class="title">

            <h1>Ozark</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam optio id laborum blanditiis quaerat
                iusto enim voluptatum temporibus, dolor unde!
            </p>
            <div class="titleButtons">
                <button class="seriesRecapButton">Series Recap</button>
                <button class="episodeRecapButton">Episode Summary</button>
            </div>
        </div>
    </section>



    <div class="carousel">

        <h2>Netflix Originals</h2>

        


        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <h2>TV Shows</h2>
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <h2>Comedy</h2>
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <h2>Foreign</h2>
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">
        <img src="https://picsum.photos/200/300" alt="">

    </div>






</body>

</html>